body {
    font-family: 'Roboto';
    background-color: black;
}


/*----------Header----------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3.45rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2D2D37;
}

header .iconos {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .iconos {
    cursor: pointer;
}

header .iconos a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 0.5rem;
}

#logo-leveling {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

#menu-hamburgesa,
#user,
header .img-iconos {
    font-size: 1.5rem;
    color: white;
}

header #buscador,
header #buscador input {
    display: none;
}

#lupa {
    width: 1rem;
    height: 1rem;
    position: absolute;
    right: 1rem;
    transform: translate(-50%);
    pointer-events: none;
}


/*-------------Footer-------------*/

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2D2D37;
    color: #fff;
    padding: 1rem 2rem 0 2rem;
    margin-top: 2.5rem;
}

.contenedor-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.li-footer h3,
.contenedor-suscripcion h1 {
    margin-bottom: 0.8rem;
    text-align: center;
}

.contenedor-suscripcion h1,
p {
    font-size: 1rem;
}

.li-footer ul,
.redes-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.li-footer ul li{
    margin-top: 0.5rem;
}

.redes-footer ul li {
    margin: 0.5rem;
}

.li-footer ul li a,
.redes-footer ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 0.9rem;
}

.li-footer ul li a:hover {
    color: #f72585;
}

.contenedor-suscripcion form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contenedor-suscripcion input {
    padding: 8px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.suscripcion {
    position: relative;
    width: 100%;
}

.suscripcion input {
    padding: 0.5rem 6.5rem 1rem 1rem;
    border-radius: 1rem;
}

.btn-subscribirse {
    position: absolute;
    right: 0.25rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 2rem;
    background: #f72585;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.btn-subscribirse:hover {
    background: #d61d6d;
}


/* -------Redes sociales------- */

.redes-footer {
    margin-top: 2rem;
    background-color: #f72585;
    padding: 0 2rem;
    border-radius: 1rem 1rem 0 0;
}

.redes-footer ul li a :hover {
    color: #0d0909;
}

.redes-footer ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
}


/* las reglas dentro de este bloque solo se activan si el ancho de la pantalla es mayor a 800 píxeles */
@media only screen and (min-width: 800px) {
    header {
        padding: 0.5rem 1rem;
    }

    header #buscador,
    header div#buscador input {
        display: block;
    }

    header #buscador {
        width: 100%;
        max-width: 25rem;
        min-width: 19rem;
        margin: 0 3.5rem;
        display: flex;
        align-items: center;
        position: relative;
    }

    header #buscador input {
        width: 100%;
        max-width: 25rem;
        min-width: 19rem;
        height: 2rem;
        border-radius: 1.25rem;
        border: none;
        padding: 0 3rem 0 1rem;
        font-size: 1rem;
        font-family: 'Roboto';
        background-color: #F5F5F5;
    }


    /*----------Footer----------*/
    
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contenedor-footer {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: start;
        gap: 2rem;
    }

    .li-footer h3.titulo {
        text-align: start;
    }

    .contenedor-suscripcion h1,
    p {
        text-align: center;
    }

}